@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: roboto;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
}

.hamburger-line {
  @apply w-[30px] h-[2px] my-[6px] block bg-primary rounded-sm;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-45;
}

/* text */

.mobile-h1-medium {
  @apply text-white text-[32px] not-italic font-medium tracking-[0.64px] uppercase;
}
